<script type="text/javascript">
    $(document).ready(function() {
        $("a.comment-tooltip").tooltip();
        document.title = 'Search – D-PLACE';
    });
</script>

<div class="">
    <div class="container">
        <div class="radiolead pull-left" style="margin-top:-15px !important">
            SEARCH<br>Begin your search by selecting a mode.<br><small>Select additional variables to further refine<br>your search or select reset to start your search over.</small><br />
        </div>
        <div class="row text-center">
            <div class="btn-group">
                <button ng-repeat="button in buttons"
                        type="button" class="btn radioBack {{button.radioClass}}"
                        ng-model="model.searchParams.selectedButton"
                        btn-radio="button"
                        >
                        <span class="radioLabel">{{ button.name }}</span>
                        <br><span class="badge" ng-show="button.badgeValue()">{{ button.badgeValue() }}</span></button>
            </div>
            <form ng-submit="searchBySociety()">
                <label style="padding-top:20px;">Or search by society name: 
                    <input id="searchSociety" type="text" name="input" ng-model="model.societyQuery">
                    <a id="searchSocietyBtn"
                        ng-disabled="!model.societyQuery || searchBySocietyButton.disabled"
                        ng-click="searchBySociety()" target="_self" class="btn btn-primary"
                        style="padding:2px;padding-right:24px;padding-left:24px;margin-top:-4px">{{ searchBySocietyButton.text }}
                    </a>
                </label>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row basic-search-forms">
        <div ng-if="model.searchParams.selectedButton.value">
            <div id="selected-criteria" class="hidden col-md-3">
                <div class="selected-scrollable scrollable">
                    <h5 data-toggle="collapse" data-target="#scPlaces" ng-show="searchModel.params.geographicRegions.selectedRegions.length > 0" style="cursor:pointer;"><strong>Places</strong></h5>
                    <ul id="scPlaces" class="list-unstyled criteria-list collapse in" style="padding-left:10px;">
                        <li ng-repeat="region in searchModel.params.geographicRegions.selectedRegions | orderBy:'name'">
                            <a ng-click="removeFromSearch(region, 'geographic')" style="color:red;"><span title="Remove criterion" class="glyphicon glyphicon-remove"></span></a>&nbsp;{{ region.name }}
                        </li>
                    </ul>
                    <h5 data-toggle="collapse" data-target="#scLanguage" ng-show="searchModel.params.languageClassifications.selected | isEmpty" style="cursor:pointer;"><strong>Language</strong></h5>
                        <ul id="scLanguage" class="list-unstyled collapse in" style="padding-left:10px;">
                        <li ng-repeat="(family, languages) in searchModel.params.languageClassifications.selected" ng-show="languages.length > 0">
                            <a ng-click="removeFromSearch(family, 'family')" style="color:red;"><span title="Remove criterion" class="glyphicon glyphicon-remove"></span></a>&nbsp;{{ family }}
                            <ul class="criteria-list">
                                <li ng-repeat="language in languages|orderBy:'name'">
                                    <a ng-click="removeFromSearch(language, 'language')" style="color:red;"><span title="Remove criterion" class="glyphicon glyphicon-remove"></span></a>&nbsp;{{ language.name }}
                                </li>
                            </ul>
                        </li>
                        </ul>
                    <h5 data-toggle="collapse" data-target="#scCulture" ng-show="searchModel.params.culturalTraits.selectedVariables.length > 0" style="cursor:pointer;"><strong>Culture</strong></h5>
                       <ul id="scCulture" class="list-unstyled collapse in" style="padding-left:10px;">
                        <li ng-repeat="variable in searchModel.params.culturalTraits.selectedVariables" ng-show="(variable.data_type == 'Continuous') || (variable.codes | isEmpty)">
                            <a ng-click="removeFromSearch(variable, 'variable')" style="color:red;"><span title="Remove criterion" class="glyphicon glyphicon-remove"></span></a>&nbsp;{{ variable.name }}
                            <ul class="criteria-list">
                                <li ng-repeat="code in variable.codes" ng-show="code.isSelected">
                                    <a ng-click="code.type ='c'; removeFromSearch(code, 'code')" style="color:red;"><span title="Remove criterion" class="glyphicon glyphicon-remove"></span></a>&nbsp;{{ code.short_description }}
                                </li>
                            </ul>
                        </li>
                        </ul>
                    <h5 data-toggle="collapse" data-target="#scEnv" ng-show="searchModel.params.environmentalData.selectedVariables | isEmpty" style="cursor:pointer;"><strong>Environment</strong></h5>
                       <ul id="scEnv" class="list-unstyled criteria-list collapse in" style="padding-left:10px;">
                            <li ng-repeat="variable in searchModel.params.environmentalData.selectedVariables" ng-show="variable.selectedVariable">
                                <a ng-click="removeFromSearch(variable, 'environmental')" style="color:red;"><span title="Remove criterion" class="glyphicon glyphicon-remove"></span></a>&nbsp;{{variable.selectedVariable.name}}
                                <ul class="criteria-list">
                                    <li ng-repeat="code in variable.selectedVariable.codes" ng-show="code.isSelected">
                                        <a ng-click="code.type ='e'; removeFromSearch(code, 'code')" style="color:red;"><span title="Remove criterion" class="glyphicon glyphicon-remove"></span></a>&nbsp;{{ code.short_description }}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                </div>
            </div>
        <div id="search-panel" class="col-md-12">
            <span class="form-inline clearfix">
                <h4 class="pull-left">Search by {{ model.searchParams.selectedButton.fullName }}</h4>
                <div class="pull-right">    
                    <button class="btn search-btn form-control"
                        ng-disabled="searchButton.disabled"
                        ng-click="resetSearch()">Reset
                    </button>
                    <button 
                        ng-show="searchModel.checkSelected()" 
                        class="btn search-btn" 
                        ng-disabled="searchButton.disabled"
                        ng-click="showCriteria()">
                        {{ searchCriteria }}
                    </button>
                    <button class="btn search-btn form-control"
                        ng-disabled="searchButton.disabled"
                        ng-click="search()">{{ searchButton.text }}
                    </button>

                    <span class="alert alert-danger" ng-show="searchButton.errors">
                        {{ searchButton.errors }}
                    </span> 
                </div>
            </span>
            <ng-include src="'/static/partials/search/' +  model.searchParams.selectedButton.value + '.html'"></ng-include>
        </div>
    </div>
</div>
