<script type="text/javascript">
    $(document).ready(function() {
        $("a.comment-tooltip").tooltip();
        document.title = 'Search by Cultural Trait – D-PLACE';
    });
</script>

<div ng-controller="CulturalCtrl"> 
    <span class="form-inline clearfix">
        <h5  class="pull-left" style="padding-left: 5mm !important;">Note: Search is limited to 4 cultural variables maximum</h5>
        <h5 ng-show="numSelectedVars > 0 && !errors" style="padding-right:5mm !important" ng-class="{'text-danger': numSelectedVars > 4}" class="pull-right">Number of variables selected: {{ numSelectedVars }}</h5>
    </span>
    <div style="margin-top:-30px;">
    <ng-include src="'/static/partials/search/variable.html'"></ng-include>
    </div>
</div>
