<div class="container">
    <div class="row text-center" ng-show="results.language_trees.length == 0"><h2>Loading trees...</h2></div>
    
    <div class="row text-center" style="margin-top:20px">
        <div class="btn-group">
            <button ng-repeat="button in treeButtons"
                    ng-show="results.language_trees[button.value] || results.language_trees[button.value].length > 0"
                    type="button" class="btn btn-lg btn-default btn-dplace-search"
                    ng-model="results.selectedButton"
                    ng-click="buttonChanged(button.value)"
                    btn-radio="button"
                    tooltip="{{button.description}}"
                    >{{ button.name }}
                </button>
        </div>
    </div>
</div>
<div ng-show="results.selectedButton" style="margin-top:20px">
    <select
        ng-model="results.selectedTree"
        class="form-control"
        style="width:100%"
        ng-change="treeSelected()"
        ng-options="tree.source ? tree.source.name: tree.name for tree in results.language_trees[results.selectedButton.value]| orderBy:'name'"
        ng-show="!globalTree"
        >
        <option value="">Select a Tree</option>
    </select>
        
    <table>
    <tr>
    <td style="width:700px;vertical-align:top;">
    
    <div ng-show="globalTree && variables.length > 0">
        <h5>Choose a variable:</h4>
        <select 
            ng-model="results.chosenTVariable"
            class="form-control"
            ng-options="v.variable.name for v in variables"
            ng-init="results.chosenTVariable=variables[0]"
            style="width:auto;"
             >
         </select>
    </div>
    <div ng-show="results.selectedTree" class="btn-group" style="margin-top:10px;">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Download This Tree
            <span class="caret" style="margin-left:5px;"></span>
            </button>
          <ul class="dropdown-menu">
            <li>
                <form action="/download" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ cookieValue }}">
                    <input type="hidden" name="values" value="{{toSendquery}}">
                    <input type="submit" name="submit" value="As SVG image"/>
                </form>
            </li>
            <li><a ng-click="nexusDownload()">As NEXUS file</a></li>
          </ul>
    </div>

    <p ng-show="results.selectedTree" style="width:500px">
        Note: trees have been pruned to display only societies present in D-PLACE.</p>
        <blockquote ng-show="results.selectedTree.source">{{ results.selectedTree.source.reference }}</blockquote>
    <language-phylogeny>
    
    </language-phylogeny>
    </td><td style="vertical-align:top;">
    <div id="legend" ng-show="results.selectedTree">
        <i ng-show="!globalTree && variables.length > 0">Click on a variable title to expand or collapse variable legend.</i>
            <div ng-repeat="variable in variables" ng-class="{'panel panel-default':!globalTree}" style="margin-bottom:5px;">
                <div class="panel-heading" ng-show="!globalTree"> 
                    <a ng-click="check(variable)" data-toggle="collapse" data-parent="#legend" data-target="#{{variable.CID}}" style="color:#000;"><b>{{variable.CID}}:</b> {{variable.variable.name}} <br><em style="font-size:12px;">{{variable.variable.codebook_info}}</em></a>
                </div>
                
                <div id="{{variable.CID}}" ng-class="{'panel-collapse collapse': !globalTree, 'in': variable.CID == variables[0].CID}" ng-show="(!globalTree || (globalTree && results.chosenTVariable.variable.label==variable.variable.label))">
                    <div class="leg-panel panel-body">
                    <svg ng-show="variable.variable.data_type !== 'Continuous'" height="{{ variable.codes.length * 27 }}" width="600" class="tree-legend legends" var-id="{{variable.variable.id}}">
                        <g ng-repeat="c in variable.codes" transform="{{$index|transformG}}">
                        <circle
                                    cx="10"
                                    cy="10"
                                    r="4.5"
                                    fill="{{variable.codes.codes[c.code]}}"
                                    stroke="#000"
                                    stroke-width="0.5"
                                    />
                            <text x="20" y="15">{{c.short_description}}</text>
                        </g>
                    </svg>
                    <svg ng-show="variable.variable.data_type == 'Continuous'" class="cont-gradient legends" height="80" width="600" var-id="{{variable.variable.id}}" style="font-size:12px;">
                        <circle
                                cx="10"
                                cy="10"
                                r="4.5"
                                fill="rgb(255,255,255)"
                                stroke="#000"
                                stroke-width="0.5"
                                />
                            <text x="20" y="15">Missing Data</text>
                        <rect x="10" y="25" fill = "url({{variable.fill}})" height="30" width="250" />
                        <text x="0" y="70">{{variable.min}} {{variable.variable.units}}</text>
                        <text x="240" y="70">{{variable.max}} {{variable.variable.units}}</text>
                    </svg>
                    </div>
                </div>
            </div>
            <svg ng-show="globalTree && results.classifications && !results.chosenTVariable" height="{{ results.classifications.length * 35 }}" width="600" class="classif-legends">
                <g ng-repeat="code in results.classifications" transform="{{$index|transformG}}">
                            <circle
                                    cx="10"
                                    cy="10"
                                    r="4.5"
                                    fill="{{results.classifications.codes[code.id]}}"
                                    stroke="#000"
                                    stroke-width="0.5"
                                    />
                    <text x="20" y="15">{{code.name}}</text>

            </svg>
            <svg ng-show="globalTree && results.geographic_regions && !results.classifications && !results.chosenTVariable" height="{{results.geographic_regions.length * 35 }}" width="600" class="region-legends">
                <g ng-repeat="region in results.geographic_regions" transform="{{$index|transformG}}">
                    <circle
                            cx="10"
                            cy="10"
                            r="4.5"
                            fill="{{results.geographic_regions.codes[region.tdwg_code]}}"
                            stroke="#000"
                            stroke-width="0.5"
                            />
                    <text x="20" y="15">{{region.region_nam}}</text>
            </svg>
    </div>
    </td></tr>
</table>
</div>